force-app/main/default/flows/Conference_Smartwaiver_Retreival.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Attach_PDF_to_Record</name>
        <label>Attach PDF to Record</label>
        <locationX>402</locationX>
        <locationY>1034</locationY>
        <actionName>FlowFileHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Smartwaiver_Event_to_Parsed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>base64Data</name>
            <value>
                <elementReference>Get_Waiver_Details.pdfValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fileName</name>
            <value>
                <elementReference>waiverFileNameFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentRecordId</name>
            <value>
                <elementReference>Create_Contract_and_Form</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowFileHelper</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Generate_PDF_Attachment</name>
        <label>Generate PDF Attachment</label>
        <locationX>138</locationX>
        <locationY>3074</locationY>
        <actionName>FlowFileHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Through_Attendee_Records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>base64Data</name>
            <value>
                <elementReference>Get_Waiver_Details.pdfValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fileName</name>
            <value>
                <stringValue>Conference Waiver.pdf</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentRecordId</name>
            <value>
                <elementReference>Loop_Through_Attendee_Records.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowFileHelper</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Get_Waiver_Details</name>
        <label>Get Waiver Details</label>
        <locationX>611</locationX>
        <locationY>170</locationY>
        <actionName>SW_SmartwaiverFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Has_AutoTag</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>retrievePdf</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>waiverId</name>
            <value>
                <elementReference>$Record.WaiverId__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SW_SmartwaiverFlowAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Adult_to_Collection_of_Contacts_to_Add_ts_Attendees</name>
        <label>Add Adult to Collection of Contacts to Add ts Attendees</label>
        <locationX>138</locationX>
        <locationY>1442</locationY>
        <assignmentItems>
            <assignToReference>ContactsToAddAsAttendeesCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PrimaryAdultContactRecordVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Participants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Created_Contacts_to_Collection</name>
        <label>Add Created Contacts to Collection</label>
        <locationX>50</locationX>
        <locationY>2342</locationY>
        <assignmentItems>
            <assignToReference>ContactsToAddAsAttendeesCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactRecordsToCreateCollectionVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Attendees_and_Assign_Attendee_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Single_Attendee_to_Create_Collection</name>
        <label>Add Single Attendee to Create Collection</label>
        <locationX>138</locationX>
        <locationY>2666</locationY>
        <assignmentItems>
            <assignToReference>AttendeeRecordsToCreateCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleAttendeeRecordVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Attendees_and_Assign_Attendee_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_of_Contacts_to_Create</name>
        <label>Add to Collection of Contacts to Create</label>
        <locationX>666</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>ContactRecordsToCreateCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Participants</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Current_Contact_Record_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Adult_Contact_to_Primary_Contact_Variable</name>
        <label>Assign Adult Contact to Primary Contact Variable</label>
        <locationX>50</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>PrimaryAdultContactRecordVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Adult_Contact_by_DOB_and_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Found_Matching_Adult_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Attendee_Values</name>
        <label>Assign Attendee Values</label>
        <locationX>138</locationX>
        <locationY>2558</locationY>
        <assignmentItems>
            <assignToReference>SingleAttendeeRecordVar.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Attendees_and_Assign_Attendee_Values.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAttendeeRecordVar.Conference_Reservation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Waiver_Details.autoTagValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Single_Attendee_to_Create_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Id_and_Account_to_Current_Contact</name>
        <label>Assign Id and Account to Waiver Contact</label>
        <locationX>402</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Participants.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentContactRecordVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Participants.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrimaryAdultContactRecordVar.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Add_Adult_to_Collection_of_Contacts_to_Add_ts_Attendees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Current_Contact_Record_Variable</name>
        <label>Clear Current Contact Record Variable</label>
        <locationX>534</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>CurrentContactRecordVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentContactRecordVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Participants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Add_Adult_to_Collection_of_Contacts_to_Add_ts_Attendees</name>
        <label>Add to Collection of Contacts to Add ts Attendees</label>
        <locationX>402</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>ContactsToAddAsAttendeesCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Participants</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Current_Contact_Record_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Id_and_Account_to_Waiver_Contact</name>
        <label>Assign Account Id to Waiver Contact</label>
        <locationX>666</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Participants.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrimaryAdultContactRecordVar.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_of_Contacts_to_Create</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Contact</name>
        <label>Found Contact?</label>
        <locationX>534</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Assign_Id_and_Account_to_Waiver_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesFoundContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentContactRecordVar.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Id_and_Account_to_Current_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Matching_Adult_Contact</name>
        <label>Found Matching Adult Contact</label>
        <locationX>50</locationX>
        <locationY>818</locationY>
        <defaultConnector>
            <targetReference>Create_New_Adult_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryAdultContactRecordVar.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Participants</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Membership</name>
        <label>Found Membership?</label>
        <locationX>534</locationX>
        <locationY>818</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesFoundMembership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Associated_Membership.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contract_and_Form</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_AutoTag</name>
        <label>Has AutoTag?</label>
        <locationX>611</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesHasAutotag</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Waiver_Details.autoTagValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Conference_Reservation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Adult</name>
        <label>Is Adult?</label>
        <locationX>336</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_of_Current_Participant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesIsAdult</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Participants.Birthdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PrimaryAdultContactRecordVar.Birthdate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Adult_to_Collection_of_Contacts_to_Add_ts_Attendees</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Conference_Waiver</name>
        <label>Is Conference Waiver?</label>
        <locationX>292</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Get_Associated_Membership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesConference</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Conference_Reservation.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Adult_Contact_by_DOB_and_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>waiverFileNameFormula</name>
        <dataType>String</dataType>
        <expression>{!contactName}&amp; &quot; - Waiver&quot;</expression>
    </formulas>
    <interviewLabel>Conference - Smartwaiver Retreival {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conference - Smartwaiver Retreival</label>
    <loops>
        <name>Loop_Through_Attendee_Records</name>
        <label>Loop Through Attendee Records</label>
        <locationX>50</locationX>
        <locationY>2966</locationY>
        <collectionReference>AttendeeRecordsToCreateCollectionVar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Generate_PDF_Attachment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Smartwaiver_Event_to_Parsed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Attendees_and_Assign_Attendee_Values</name>
        <label>Loop Through Attendees and Assign Attendee Values</label>
        <locationX>50</locationX>
        <locationY>2450</locationY>
        <collectionReference>ContactsToAddAsAttendeesCollectionVar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Attendee_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Attendee_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Participants</name>
        <label>Loop Through Participants</label>
        <locationX>50</locationX>
        <locationY>1226</locationY>
        <collectionReference>Get_Waiver_Details.participantContactRecordCollectionVar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Adult</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Attendee_Records</name>
        <label>Create Attendee Records</label>
        <locationX>50</locationX>
        <locationY>2858</locationY>
        <connector>
            <targetReference>Loop_Through_Attendee_Records</targetReference>
        </connector>
        <inputReference>AttendeeRecordsToCreateCollectionVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Contacts</name>
        <label>Create Contacts</label>
        <locationX>50</locationX>
        <locationY>2234</locationY>
        <connector>
            <targetReference>Add_Created_Contacts_to_Collection</targetReference>
        </connector>
        <inputReference>ContactRecordsToCreateCollectionVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Contract_and_Form</name>
        <label>Create Contract and Form</label>
        <locationX>402</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>Attach_PDF_to_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>TREX1__Account__c</field>
            <value>
                <elementReference>Get_Associated_Membership.TREX1__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TREX1__Contact__c</field>
            <value>
                <elementReference>Get_Associated_Membership.TREX1__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TREX1__Date_Signed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TREX1__Has_Been_Signed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TREX1__Membership__c</field>
            <value>
                <elementReference>Get_Associated_Membership.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TREX1__Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TREX1__Third_Party_Envelope_Id__c</field>
            <value>
                <elementReference>$Record.WaiverId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TREX1__Type__c</field>
            <value>
                <stringValue>Waiver Form</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TREX1__Valid_For__c</field>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputAssignments>
        <object>TREX1__Contract_and_Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Adult_Contact</name>
        <label>Create New Adult Contact</label>
        <locationX>138</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>Get_Newly_Created_Account_from_Contact</targetReference>
        </connector>
        <inputReference>Get_Waiver_Details.adultContactRecordVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Associated_Membership</name>
        <label>Get Associated Membership</label>
        <locationX>534</locationX>
        <locationY>602</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Full_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Waiver_Details.autoTagValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TREX1__Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Conference_Reservation</name>
        <label>Get Conference Reservation</label>
        <locationX>292</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Conference_Waiver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Waiver_Details.autoTagValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Conference_Reservation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Full_Name</name>
        <label>Get Contact Full Name</label>
        <locationX>534</locationX>
        <locationY>710</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Membership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Associated_Membership.TREX1__Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>contactName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_of_Current_Participant</name>
        <label>Get Contact of Current Participant</label>
        <locationX>534</locationX>
        <locationY>1442</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Loop_Through_Participants.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Loop_Through_Participants.LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Birthdate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Participants.Birthdate</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimaryAdultContactRecordVar.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>CurrentContactRecordVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Adult_Contact_by_DOB_and_Email</name>
        <label>Get Existing Adult Contact by DOB and Email</label>
        <locationX>50</locationX>
        <locationY>602</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Adult_Contact_to_Primary_Contact_Variable</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4) AND 5 AND 6</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Waiver_Details.adultContactRecordVar.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe01__AlternateEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Waiver_Details.adultContactRecordVar.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe01__HomeEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Waiver_Details.adultContactRecordVar.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe01__WorkEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Waiver_Details.adultContactRecordVar.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Birthdate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Waiver_Details.adultContactRecordVar.Birthdate</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121U000000SlcwQAC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Newly_Created_Account_from_Contact</name>
        <label>Get Newly Created Account from Contact</label>
        <locationX>138</locationX>
        <locationY>1034</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Participants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Waiver_Details.adultContactRecordVar.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>PrimaryAdultContactRecordVar.AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Smartwaiver_Event_to_Parsed</name>
        <label>Update Smartwaiver Event to Parsed</label>
        <locationX>292</locationX>
        <locationY>3350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Parsed</stringValue>
            </value>
        </inputAssignments>
        <object>Smartwaiver_Event__c</object>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Waiver_Details</targetReference>
        </connector>
        <flowRunAsUser>DefaultWorkflowUser</flowRunAsUser>
        <object>Smartwaiver_Sync__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AttendeeRecordsToCreateCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Conference_Attendee__c</objectType>
    </variables>
    <variables>
        <name>contactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactRecordsToCreateCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactsToAddAsAttendeesCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CurrentContactRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>PrimaryAdultContactRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SingleAttendeeRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Conference_Attendee__c</objectType>
    </variables>
</Flow>
